.wrapper {
  min-height: calc(100vh - 64px - 48px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomeCard {
  max-width: 780px;
  width: 100%;
  text-align: center;
  border-radius: 2px;
}
