.mainLayout {
  min-height: 100vh;
  background: #ffffff;
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  width: 100%;
  height: 64px;
}

.headerBrandSection {
  display: flex;
  align-items: center;
  width: 300px;
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
}

.headerBrandLink {
  color: #000000;
  padding-inline: 20px;
  font-size: 24px;
  width: 300px;
  text-decoration: none;
}

.headerBrandLink h1 {
  margin: 0;
  font-size: 24px;
  line-height: 64px;
}

.headerActions {
  padding-inline: 20px;
}

.adminLink {
  color: #1677ff;
  font-weight: 600;
  text-decoration: none;
}

.content {
  padding: 24px;
  background: #ffffff;
  border-radius: 6px;
  min-height: calc(100vh - 32px - 32px - 64px);
}

.contentWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
