.navigationMenuContainer {
  background: #ffffff;
  margin: 16px 0 16px 16px;
  border-radius: 6px;
  overflow: auto;
  height: calc(100vh - 32px - 64px); /* Вычесть высоту header и margin */
  position: sticky;
  top: 16px;
}

.navigationMenuLoading {
  padding: 24px;
  text-align: center;
}

.navigationMenuError {
  padding: 24px;
  text-align: center;
  color: #000000;
}

.treeContainer {
  background: #ffffff;
}